// NEUTRAL

$NEUTRAL_BLACK: #263238;
$NEUTRAL_D_GREY: #4d4d4d;
$NEUTRAL_GREY: #717171;
$NEUTRAL_L_GREY: #89939e;
$NEUTRAL_GREY_BLUE: #abbed1;
$NEUTRAL_SILVER: #f5f7fa;
$NEUTRAL_WHITE: #ffffff;

// BRAND

$BRAND_PRIMARY: #4caf4f;
$BRAND_SECONDARY: #263238;
$BRAND_INFO: #2194f3;

// SHADE

$SHADE_S1: #43a046;
$SHADE_S2: #388e3b;
$SHADE_S3: #237d31;
$SHADE_S4: #1b5e1f;
$SHADE_S5: #103e13;

// TINT

$TINT_T1: #66bb69;
$TINT_T2: #81c784;
$TINT_T3: #a5d6a7;
$TINT_T4: #c8e6c9;
$TINT_T5: #e8f5e9;

// ACTION

$ACTION_WARNING: #fbc02d;
$ACTION_ERROR: #e53835;
$ACTION_SUCCESS: #2e7d31;
